APP_NAME = 'c3loc transports'

DEBUG = False
SECRET_KEY = 'YOURSECRETKEYHERE'
UPLOAD_DIR = 'uploads'

SQLALCHEMY_DATABASE_URI = 'sqlite:///app.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False

#The passwords in this list need to be unique.
#Login via /login/password/<password>
SPECIAL_HELPDESK_ACCOUNTS = [{
    'email': 'mail@exmaple.com',
    'password': 'secret'
}]

# mail server config
MAIL_SERVER = 'SMTP_HOST'
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USE_SSL = False
MAIL_USERNAME = 'SMTP_USER'
MAIL_PASSWORD = 'SMTP_PASS'
MAIL_DEFAULT_SENDER = 'no-reply@YOURDOMAIN.de'


ZAMMAD_HOST = 'zammad host'
ZAMMAD_USER = 'user'
ZAMMAD_PASS = 'pass'
ZAMMAD_SECURE = True
ZAMMAD_QUEUE = 'HelpDesk'
ZAMMAD_GROUP_ID = 1
