{% extends 'layout.html' %}

{% block content %}
<h1 class="page-header">Delete Address</h1>

<p>Really delete this address?</p>
<pre>
{{ address.address }}
</pre>
<form class="form-horizontal" role="form" method="POST"
    action="{{ url_for('delete_address', id=address.id) }}">
    {{ form.csrf_token }}
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-3">
            <button class="btn btn-lg btn-primary btn-danger" type="submit">Delete</button>
        </div>
    </div>
</form>
{% endblock %}