<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/gfx/list.jpg">

    <title>{{ app_name }}</title>

    {% block meta %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fa-v5.5.0-all.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap-4.1.1.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/dataTables-1.10.18.bootstrap4.min.css') }}"/>


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/bootstrap-4.1.1.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery.dataTables-1.10.18.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/dataTables-1.10.18.bootstrap4.min.js') }}"></script>
</head>

<body>
<div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="{{ url_for('index') }}">{{ app_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--
            <li class="nav-item active">
                <a class="nav-link" href=" {{ url_for('edit_transport') }}">Add Transport <span class="sr-only">(current)</span></a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('edit_transport') }}">Add Transport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('list_transports') }}">List Transports</a>
            </li>
            {% if current_user.role in ['admin'] %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('list_users') }}">List Users</a>
            </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item nav-right">
                <a class="nav-link" href="{{ url_for('me') }}">{{ current_user.login }}</a>
            </li>
            <li class="nav-item nav-right">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-md-10 offset-md-1 main">

            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                <div class="alert alert-{{ category if not category == 'message' else 'info' }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {% block content %}

            <h1 class="page-header">Ohai!</h1>
            <div class="row">
                <div class="offset-sm-1 col-sm-10">
                    <p class="lead">Welcome to our awesome transports planning system!</p>
                </div>
            </div>

            {% if current_user.role in ['helpdeks', 'admin'] %}
            <h2 class="page-header">Transports</h2>

            {% for item in todo %}
            <div class="row">
                <div class="offset-sm-1 col-sm-2">
                    {{ item.description }}
                </div>
                <div class="col-sm-8">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ item.progress }}%"
                             aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <p></p>
            {% endif %}

            <h2>How it works</h2>
            <div class="row">
                <div class="offset-1 col-sm-10">
                    <p class="lead">
                        Please enter your transport details in the form provided. You don't need to fill all fields, the
                        submission process will tell you if a field is required.
                        Please leave unknown or not yet know fields empty (apart from the required ones). Transport details can
                        be changed later. You will be notified by email if something is changed.
                    </p>
                    <p class="lead">Please dont hesitate to contact us by <a href="mailto:camp19@c3loc.de">email</a> if you have any questions or need help.</p>
                </div>
            </div>

            <h2>Information</h2>
            <div class="row">
                <div class="offset-1 col-sm-10">
                    <p class="lead">
                        For more information visit: <a href="https://c3loc.de">https://c3loc.de</a>
                    </p>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
