{% extends 'layout.html' %}
{% from "_formhelper.html" import render_form_group, render_field %}

{% block content %}
{% if transport %}
<h1 class="page-header">Add/Edit Transport</h1>
<form class="needs-validation"
      action="{{ url_for('edit_transport', id=transport.id) if transport else url_for('edit_transport') }}"
      method="POST"
      enctype="multipart/form-data"
      novalidate>
    <div class="offset-sm-1 col-sm-10">
        {{ transportform.csrf_token }}
        {{ render_form_group(render_field(transportform.organizer, 12)) }}
        <div class="form-group col-sm-12">
            <div class="form-check">

                <input class="form-check-input" id="needs_organization" name="needs_organization"
                       placeholder="Needs organization" type="checkbox"
                       value="{{ transportform.needs_organization.data }}" {% if transportform.needs_organization.data
                       %}checked{% endif %}>

                <label class="form-check-label" for="needs_organization">Needs organization</label>
                <small id="needsOrganizationHelpBlock" class="form-text text-muted">
                    Check this box if you need us to organize your transport (need help, driver, spedition, ..)
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-6">
                {{ transportform.origin.label() }}
                {% if addresslist %}
                <select class="form-control" onchange="fillAddress('origin', this.value);">
                    <option value=""></option>
                    {% for addr in addresslist: %}
                    <option value="{{ addr.id }}">{{ addr.address }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                {% if not transportform.origin.errors %}
                {{ transportform.origin(class='form-control addressarea', placeholder=transportform.origin.label.text)|safe }}
                {% else %}
                {{ transportform.origin(class='form-control addressarea is-invalid', placeholder=transportform.origin.label.text)|safe }}
                <div class="invalid-feedback">
                    <ul class=errors>
                        {% for error in transportform.origin.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <div class="form-group col-sm-6">
                {{ transportform.destination.label() }}
                {% if addresslist %}
                <select class="form-control" onchange="fillAddress('destination', this.value);">
                    <option value=""></option>
                    {% for addr in addresslist: %}
                    <option value="{{ addr.id }}">{{ addr.address }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                {% if not transportform.destination.errors %}
                {{ transportform.destination(class='form-control addressarea', placeholder=transportform.destination.label.text)|safe }}
                {% else %}
                {{ transportform.destination(class='form-control addressarea is-invalid', placeholder=transportform.destination.label.text)|safe }}
                <div class="invalid-feedback">
                    <ul class=errors>
                        {% for error in transportform.destination.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

        {{ render_form_group(render_field(transportform.date, 3) + render_field(transportform.time, 3) +
        render_field(transportform.vehicle, 6)) }}

        {{ render_form_group(render_field(transportform.goods, 12)) }}
        {{ render_form_group(render_field(transportform.vehicle_owner, 12)) }}

        {{ render_form_group(render_field(transportform.driver_contact, 6) + render_field(transportform.orga_contact,
        6)) }}

        {{ render_form_group(render_field(transportform.comment, 12)) }}

        {{ render_form_group(render_field(transportform.file_upload, 12)) }}

        <div class="form-group col-sm-12">
            <small id="fileUploadHelpBlock" class="form-text text-muted">
                Files are not stored if the form is invalid, please make sure you upload them again if there were errors
                in the form.
            </small>
        </div>

        <div class="form-group col-sm-12">
            <ul>
                {% for file in transport.files %}
                <li>
                    <a target="_blank" href="/{{ file.path }}">{{ file.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm">
                {{ transportform.save(class_="btn btn-lg btn-primary") }}
                {% if transport.id %}
                    {{ transportform.saveasnew(class_="btn btn-lg btn-primary", formaction=url_for('edit_transport')) }}
                {%endif %}
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    addresslist = { {% for addr in addresslist %}
        {{ addr.id }}: `{{ addr.address }}`,
    {% endfor %} };


    function fillAddress(target, id) {
        if (id) {
            $('#' + target).val(addresslist[id]);
        }
    }
</script>
{% endif %}
{% endblock %}